extends layout

block content
  .row.page-header
    .col-lg-12
  .container
    form.form-signin(action="/login", method="post")
      h1.form-signin-heading Login
      input.input-block-level(type="text", name="username", placeholder="Username")
      input.input-block-level(type="password", name="password", placeholder="Password")
      button.btn.btn-large.btn-primary(type="submit") Sign in