extends layout

block content
  #banner.page-header
    .row
      col-lg-6
        h1 List of Notes
  .row
    .col-xs-12.col-sm-8
      .row.list-group-item
        h4
          a(href="/notes") Note 1
          small &nbsp;
        p.note Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur convallis, nulla in commodo tempus, odio nisl pellentesque ante, eu rhoncus tortor est in metus. Nunc risus metus, sagittis bibendum consequat sed, maximus in mi. Suspendisse venenatis ex sed elementum tempus. Cras ante nulla, cursus quis odio luctus, consequat dignissim augue. Nulla ut congue justo. Sed augue nulla, consectetur vitae nunc vel, malesuada iaculis lacus. Integer non congue turpis. Integer cursus dictum mauris, a hendrerit eros interdum ut. Mauris rhoncus id lacus ac gravida. Pellentesque blandit odio in magna convallis, a elementum orci ornare. Suspendisse potenti. Aliquam erat volutpat. Duis iaculis lacus neque, eu cursus diam eleifend sed. Nunc mattis ultrices interdum. Aenean non ultricies justo. Integer non lectus non neque dignissim euismod et et metus.

        Sed a bibendum enim, et laoreet justo. Duis sit amet justo justo. Ut nec felis elementum, mattis nulla eu, fermentum arcu. Donec ornare leo lectus, at aliquet velit ullamcorper vestibulum. Aenean quis sodales erat, vitae ornare lacus. Nulla sed sodales nulla. Mauris nunc turpis, dapibus ut egestas vel, convallis sit amet odio. Curabitur placerat nec dolor at laoreet. Etiam egestas laoreet enim non rhoncus. Integer ligula dolor, tincidunt ac est et, scelerisque tristique nisi.

        Nulla facilisi. Aliquam ac lorem et justo pharetra euismod. Curabitur in egestas arcu. Cras et elit volutpat, ornare massa id, lacinia ex. Duis rhoncus ligula ac semper convallis. Integer nisi arcu, sollicitudin et dolor ut, eleifend semper est. Cras id cursus dui, vel maximus nibh. Duis erat ipsum, ornare id metus at, feugiat molestie nulla. Ut viverra purus id ligula iaculis, vel efficitur ex vestibulum. Mauris id tempus massa, non rutrum lorem.

        Morbi ac consectetur ipsum. Mauris fermentum, tortor eget lobortis dapibus, purus quam egestas enim, quis condimentum tellus mi sed justo. Sed condimentum placerat dui imperdiet tincidunt. Sed vitae velit posuere, posuere enim at, facilisis sapien. Fusce fermentum mattis euismod. Donec eleifend diam a mauris faucibus, a tincidunt velit consectetur. Morbi accumsan augue leo, non ultricies libero suscipit non. Donec viverra mollis justo vel viverra. Cras enim turpis, cursus et nisl vitae, hendrerit porttitor metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla lacinia neque ante. Maecenas sit amet elementum est. Phasellus nunc erat, efficitur in nulla eget, consectetur eleifend enim. Duis hendrerit enim a enim eleifend, pretium aliquam erat placerat.

        Quisque et justo metus. In sed nisl arcu. In porttitor metus sed arcu consectetur faucibus. Pellentesque ut finibus massa, quis pretium turpis. Nulla bibendum urna eu aliquet varius. Praesent nisl metus, dictum eu iaculis et, ultrices in sapien. Nam hendrerit vestibulum augue, quis convallis mauris semper.