extends layout

block content
  #banner.page-header
    .row
      col-lg-6
        h1 List of Notes
  .row
    .col-xs-12.col-sm-8
      .row.list-group-item
        h4
          a(href="/notesPage") Note 1
          small &nbsp;
        p.note Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis faucibus vestibulum. Sed varius in erat in ultrices. Phasellus volutpat finibus neque, sit amet posuere felis placerat id.
        p

        h4
          a(href="/notesPage") Note 2
          small &nbsp;
        p.note Nunc sed pulvinar dui, a viverra velit. Nulla dictum lorem pretium justo maximus dapibus. Fusce commodo dolor velit, sed convallis lectus placerat quis.
        p

        h4
          a(href="/notesPage") Note 3
          small &nbsp;
        p.note Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis faucibus vestibulum. Sed varius in erat in ultrices. Phasellus volutpat finibus neque, sit amet posuere felis placerat id.
        p

        h4
          a(href="/notesPage") Note 4
          small &nbsp;
        p.note Nunc sed pulvinar dui, a viverra velit. Nulla dictum lorem pretium justo maximus dapibus. Fusce commodo dolor velit, sed convallis lectus placerat quis.
        p

        h4
          a(href="/notesPage") Note 5
          small &nbsp;
        p.note Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis faucibus vestibulum. Sed varius in erat in ultrices. Phasellus volutpat finibus neque, sit amet posuere felis placerat id.
        p

        h4
          a(href="/notesPage") Note 6
          small &nbsp;
        p.note Nunc sed pulvinar dui, a viverra velit. Nulla dictum lorem pretium justo maximus dapibus. Fusce commodo dolor velit, sed convallis lectus placerat quis.
        p

        h4
          a(href="/notesPage") Note 7
          small &nbsp;
        p.note Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis faucibus vestibulum. Sed varius in erat in ultrices. Phasellus volutpat finibus neque, sit amet posuere felis placerat id.
        p

        h4
          a(href="/notesPage") Note 8
          small &nbsp;
        p.note Nunc sed pulvinar dui, a viverra velit. Nulla dictum lorem pretium justo maximus dapibus. Fusce commodo dolor velit, sed convallis lectus placerat quis.
        p

        h4
          a(href="/notesPage") Note 9
          small &nbsp;
        p.note Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis faucibus vestibulum. Sed varius in erat in ultrices. Phasellus volutpat finibus neque, sit amet posuere felis placerat id.
        p

        h4
          a(href="/notesPage") Note 10
          small &nbsp;
        p.note Nunc sed pulvinar dui, a viverra velit. Nulla dictum lorem pretium justo maximus dapibus. Fusce commodo dolor velit, sed convallis lectus placerat quis.
        p
        button.btn.btn-default.pull-left ADD NOTE